*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;

    outline: 0.5px solid black;
}

.container
{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar
{
    grid-row: 1/3;
}

.header
{
}

.content
{
}